$primary-color : #1e87f0;



.simple-tags {
	border: 1px solid $primary-color;
	box-sizing: border-box;
	margin: 1em;
	padding: 0em 0.5em;
	display: flex;
	flex-wrap: wrap;
	font-size: 14px;
	border-radius: 5px;

	& > ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
	}
	ul li {
		margin: 0.5em 0.2em;
		padding: 0.5em;
		color: #fff;
		background-color: $primary-color;
		border-radius: 5px;
	}
	ul li a{
		margin: 0.5em 0.2em;
		text-decoration: none;
		color: inherit;
	}
	input {
		padding: 0.9em 0.5em;
		box-sizing: border-box;
		flex-grow: 1;
		border: none;
		outline:none;
		font-size: inherit;
		font-family: inherit;
		color: inherit;
	}
}